.card-container {
  text-align: center;
  margin-top: 50px;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Full viewport height */
}

.start-button, .draw-button {
  margin-top: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.start-button:hover, .draw-button:hover {
  background-color: #0056b3;
}

.period-input {
  margin-left: 10px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.card {
  margin-top: 20px;
  height: 300px;
  width: 200px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background: linear-gradient(135deg, #f6d365 0%, #fda085 100%);
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease;
}

.card:hover {
  transform: translateY(-10px);
}

.initial-choice-text {
  font-size: 1.5em;
  font-weight: bold;
  color: #333;
  margin-top: 20px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

.cardText {
  font-size: 2em; /* Large enough text */
  font-weight: bold;
  color: #fff; /* Great contrast with the card background */
  text-align: center;
}